<br />
<br />

<div align="center">
  <button id="clickButton" class="bolts" data-button-id="{{ title }}">
    <span id="clickCount"></span>
    <img src="../../img/Bolt.svg" alt="Bolt" height="56" width="24" />
  </button>
</div>

<br />
<br />

<script>
  const clickButton = document.getElementById("clickButton");
  const clickCount = document.getElementById("clickCount");

  document.addEventListener("DOMContentLoaded", async () => {
    const buttonId = clickButton.dataset.buttonId;
    const response = await fetch(
      `https://annoy-script-node-serverless.vercel.app/click/${buttonId}`,
      { method: "GET" }
    );
    const data = await response.json();

    clickCount.textContent = data.totalClicks;

    clickButton.addEventListener("click", async () => {
      const buttonId = clickButton.dataset.buttonId;
      const response = await fetch(
        `https://annoy-script-node-serverless.vercel.app/click/${buttonId}`,
        {
          method: "POST",
        }
      );
      const data = await response.json();

      clickCount.textContent = data.totalClicks;
    });
  });
</script>
