<br />
<br />

<div align="center">
  <button id="likeButton" class="likes" data-button-id="{{ title }}">
    <span id="likesCount"></span>
    <img src="../../img/Bolt.svg" alt="Bolt" height="56" width="24" />
  </button>
</div>

<br />
<br />

<script>
  const likeButton = document.getElementById("likeButton");
  const likesCount = document.getElementById("likesCount");
  const postTitle = likeButton.dataset.buttonId;

  document.addEventListener("DOMContentLoaded", async () => {
    const response = await fetch(`/${postTitle}/likes`, { method: "GET" });
    const data = await response.json();

    likesCount.textContent = data.likes;

    likeButton.addEventListener("click", async () => {
      const response = await fetch(`/${postTitle}/likes`, {
        method: "POST",
      });
      const data = await response.json();

      likesCount.textContent = data.likes;
    });
  });
</script>
