<p id="views" class="views" data-postTitle="{{ title }}"></p>

<script>
  const viewsP = document.getElementById("views");
  const title = viewsP.dataset.title;

  document.addEventListener("DOMContentLoaded", async () => {
    const response = await fetch(`/${postTitle}/views`, { method: "GET" });
    const data = await response.json();

    viewsP.textContent = data.views;
  });
</script>
