<p id="views" class="views" data-postTitle="{{ title }}"></p>

<script>
  const viewsP = document.getElementById("views");
  const title = viewsP.dataset.title;

  document.addEventListener("DOMContentLoaded", async () => {
    try {
      const response = await fetch(
        `https://annoy-script-node-serverless.vercel.app/${postTitle}/views`,
        { method: "GET" }
      );

      if (!response.ok) {
        throw new Error(`Failed to get views. ${response.status}`);
      }

      const data = await response.json();

      viewsP.textContent = data.views;
    } catch (error) {
      console.error(error.message);
      viewsP.textContent = "😵";
    }
  });
</script>
